.leftnavigation {
  display: flex;
  justify-content: center;
  background-color: var(--nav-bg-color);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 80px; 
}

.leftnavigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.content {
  margin-top: 130px;
}


.leftnavigation ul li {
  position: relative;
}

.leftnavigation ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #003366;
  padding: 0;
  list-style: none;
  width: 150px;
}

.leftnavigation ul li:hover ul {
  display: block;
}

.leftnavigation ul li ul li {
  display: block;
}

.leftnavigation ul li ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.leftnavigation ul li ul li a:hover {
  background-color: #004488;
}

.leftnavigation a {
  color: var(--nav-text-color);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.leftnavigation a:hover {
  color: #FFD700;
}

/* Dark Mode Styling */
:root {
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --nav-bg-color: #003366;
  --nav-text-color: #FFFFFF;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #E0E0E0;
  --nav-bg-color: #1E1E1E;
  --nav-text-color: #B0B0B0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.leftnavigation {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.leftnavigation a {
  color: var(--nav-text-color);
}



